{% extends 'admin_base.html' %}
{% block content %}
<section class="panel important">
    {% if message %}
    <h2>Сообщение</h2>
    <ul>
        <li>{{ message }}</li>
    </ul>
    {% endif %}
</section>

<section class="panel important">
    <h2>Редактировать пост "{{ post.title }}" опубликованный {{ post.date  }}</h2>
    <form method="post">
        <div class="twothirds">
            Заголовок поста:<br/>
            <input type="text" name="post_title" size="40" value="{{ post.title }}"/><br/><br/>
            Текст поста:<br/>
            <textarea name="post_text" rows="15"
                      cols="67">{{ post.text }}</textarea>
            <script>CKEDITOR.replace('post_text');</script>
            <br/>
        </div>
        <div>
            <input type="submit" name="submit" value="Изменить"/>
        </div>
        </div>
    </form>
</section>
{% endblock %}

